* {
  padding: 0;
  margin: 0;
}
:root {
  --base: #644c38;
  --base-lioght: #F7F1E8
}
.footer{
  background-color: var(--base-lioght);
}
.wrapper {
  margin-top: 3rem;
  color: var(--base);
  font-weight: 600;
}
.wrapper li:first-child {
  margin: 2rem 0;
}
.wrapper li {
  list-style-type: none;
  padding: 0 7.5rem;
}
.wrapper li {
  text-align: left;
}
.wrapper li p{
  padding: 1px 0;
}
.footer-under {
  align-items: center;
  font-size: 1.1rem;
  color: white;
  background-color: var(--base);
}
.footer-under .footer-left p {
  margin-top: 1rem;
  padding: 0 0.8rem;
}
.footer-under .footer-right {
  display: flex;
}
.footer-under .footer-right li {
  list-style-type: none;
}
.footer-under .footer-right li i {
  color: white;
  padding: 0.8rem;
  margin: 0 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
}
